@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-start-center {
  @apply flex items-start justify-center;
}

.flex-center-start {
  @apply flex items-center justify-start;
}

.wrapper {
  @apply m-auto w-full md:max-w-[768px] lg:max-w-[960px] xl:max-w-[1280px] 2xl:max-w-[1360px];

  > .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  @apply flex h-[60px] items-center;

  &__logo {
  }

  &__right {
  }
}

.card {
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
}

.MuiButton-sizeMedium {
  min-height: 40px;
}

.fgp-facilitator {
  &__top {
    @apply flex-center;

    &__avatar {
      flex: 40%;

      @apply flex-center flex-col;
    }
    &__comment {
      flex: 60%;

      textarea {
        width: 100%;
        padding: 4px 8px;
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        min-height: 120px;
      }
    }
  }
}
